.site-footer {
  
  color: color(text-inverted);

  @include rhythm(1/2);

  @include e(navigation) {
    ul {
      @extend %inline-list;

      li {
        margin-right: $indent;
      }
    }

    a {
      @extend %link-decoration-none;

      @include link-colors(inherit, color(white));
    }
  }
}

.sticky-footer {
  @extend %clear-fix;
  background: color(background-inverted);
}