.site-header {
  background: color(background-inverted);
  color: color(text-inverted);

  a {
    @extend %link-decoration-none;
    @include link-colors(color(text-inverted), color(white));
  }
}

.site-byline {
  float: right;

  p {
    @extend %reset-margin;
  }

  a {
    @extend %small-caps;
    font-weight: 900;
  }
}

.site-byline {
  @include adjust-leading-to(3);
}