.site-header {
  background: color(background-inverted);
  @include trailer(3);

  color: color(text-inverted);

  a {
    @extend %link-decoration-inverted;
    @include link-colors(color(text-inverted), color(white));
  }
}

.site-logo {
  float: left;
}

.site-byline {
  @extend %small-caps;

  font-weight: 900;
  float: right;
}