$rainbow: color(red), color(blue), color(yellow), color(red), color(blue);
$rainbow-length: length($rainbow);
$duration: length($rainbow) * 5s;
$delay: 2s;

.site-banner {
  @include rem(height, rhythm(1));
  display: block;
  background: color(primary);
  overflow: hidden;
  position: relative;

  .rainbow {
    height: 100%;
    width: 100% * $rainbow-length;
    position: absolute;

    @include background-image(linear-gradient(left, $rainbow));
    @include animation(rainbow $duration $delay infinite alternate linear);

    -webkit-transform: translate3d(0, 0, 0);
  }
}

@include keyframes(rainbow) {
  from { left: 0%; }
  to { left: -100% * ($rainbow-length - 1) }
}