.site-logo a {
  $ratio: 174 / 93;
  $rhythm-height: 1;

  @extend %reset-margin;
  display: block;
  overflow: hidden;
  height: 0;
  @include padding-leader($rhythm-height);
  @include rem(width, rhythm($rhythm-height) * $ratio);
  background: image-url("logo-white.svg") {
    size: contain;
    repeat: no-repeat;
  }

  @include opacity(0.8);

  &:hover {
    @include opacity(1);
  }
}