extends layout

include mixins/posts

block append vars
  - bodyclass = 'post-single'

block prepend title
  != h.inlineMd(page.title, {"sanitize": true}) + ' | '

block content
  .container
    mixin post(page)

block prepend contentfooter
  .container
    .post__footer
      span.followme You can follow me on <a href="#{social.twitter.profile}" target="_blank">Twitter</a>.


