extends layout

include mixins/posts

block append vars
  - bodyclass = 'post-single'

block prepend title
  | #{ page.title + " | "}

block content
  div.container
    mixin post(page)

block prepend contentfooter
  div
    span.followme You can follow me on <a href="#{social.twitter.profile}">Twitter</a>.


