nav.site-footer__navigation
  ul
    li  
      a(href=env.helpers.url('/hi')).about
        span About
    li
      a(href='https://github.com/acdlite/andrewphilipclark.com').repo
        span Site repo