extends layout

include mixins/posts

block content
  div.container
    each article in articles
      mixin article(article)

block prepend contentfooter
  nav.next-previous
    if prevPage
      a(href=h.url(prevPage.url)) Newer
    if nextPage
      a(href=h.url(nextPage.url)) Older



