// Susy settings
$small-grid: 90% 8 1/4;
$medium-grid: 80% 8 1/4;
$large-grid: 80% 12 1/4;

// Breakpoint settings
$at-medium-break: 600px;
$at-large-break: 800px;

$only-small-break: 0 $at-medium-break;
$only-medium-break: $at-medium-break $at-large-break;

$not-large-break: max-width $at-large-break;

// Set default grid (mobile-first)
@include set-grid($small-grid);

@mixin square($size: 1em) {
  width:  $size;
  height: $size;
}